---
import Footer from "../components/Footer.astro";
import GetStarted from "../components/GetStarted.astro";
import GrammarColor from "../components/GrammarColor.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HonestFit from "../components/HonestFit.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Moment from "../components/Moment.astro";
import WhyItHolds from "../components/WhyItHolds.astro";
import Base from "../layouts/Base.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Moment />
    <HowItWorks />
    <WhyItHolds />
    <GrammarColor />
    <HonestFit />
    <GetStarted />
  </main>
  <Footer />
</Base>
